@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Roboto&family=Roboto+Slab&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}

nav a {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #94BAFF;
    color: #44536B;
    text-decoration: none;
    font-family: "Roboto Slab", Helvetica, sans-serif;
    padding: .55em 2em; /* Adjust padding as needed */
    border-radius: 1em; /* Adjust the border-radius to make it oval */
    transition: transform 0.3s ease; 
    
}
nav a:hover {
    transform: scale(1.2);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    margin-left: 10px;
    width: 50%;
}

header {
    background-color: #f3f7fe;
    display: grid;
    grid-template-columns: 150px auto;
}
#hero-img {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hero-img-about-me {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hero-msg {
    text-align: center;
    color: black;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;

    z-index: -1;
}
.section p{
    text-align: left;
    font-family: "Roboto Slab", Helvetica, sans-serif;
    text-indent: 40px; /* Adjust the value as needed */
    color: #44536B;
    
}
.section h2{
    font-size: 2em;
    text-align: center;
    font-family: "Overpass";
    color: #44536B;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    font-family: Overpass;
}







.home-title {
    font-family: 'Overpass', sans-serif;
    font-size: 4.1em;
    margin-bottom: 20px;
}

#main {
    padding: 40px;
    display: grid;
    grid-template-rows: repeat(7,auto); /* Adjust the width of the columns as needed */
    
    
}

.section {
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    
}

#home {
    background-color: #f3f7fe;
}

.project-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.button {
    
    display: inline-block;
    background-color: #94BAFF;
    
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: transform 0.3s ease; 
    
}

.button a {
    font-size: 2em;
    color: #44536B;
    text-decoration: none;
    
}

.button:hover {
    transform: scale(1.2);
}

footer {
    text-align: left;
    background-color: #94BAFF;
    color: black;
    padding-left: 10px;
    padding-top: 50px;
    margin-top: 50px;
    font-size: 2em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
footer a {
    color: #44536B;
    text-decoration: none;
    transition: font-size 0.3s ease; 
}
footer a:hover {
    font-size: 1.3em;
}

.social a img {
    background-color: white;
    width: 100px;
    height: auto;
    margin: 20px;
    transition: transform 0.3s ease; 
}

.social a img:hover {
    transform: scale(1.2);
}


.about-me-section {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */

    display: flex;
    flex-direction: column;
    align-items: left;
}

.about-me-section p {
    text-align: left;
    font-family: "Roboto Slab", Helvetica, sans-serif;
    text-indent: 0px;
    color: #44536B;
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

.about-me-section h3 {
    text-align: left;
    font-size: 2em;
    font-family: "Overpass";
    color: #44536B;
    margin-bottom: 5px; /* Adjust the margin-bottom as needed */
}

.about-me-section a {
    color: #44536B;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

.about-me-section a:hover {
    font-size: 1.3em;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}